/*

1-Common Styles
2- General Styles
3- Sections
3.0-Header Sction
3.1 Home Section
3.2 About Section
3.3 Portfolio Section
3.4 Service Section
3.5 Prices Section
3.6 Team Section
3.7 Blog Section
3.8 Contact Section
3.9 footer Section

*/

/* 1 Common style */
/*
- container
- overlay
/* 2- General Css Style */

.overlay {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
left: 0;
background-color:  rgba(0,0,0,.6)
}

.hover-opacity{

    transition: opacity .9s
}


.hover-opacity:hover {

    opacity: 0.8;
}

.ltr-effect {
    position: relative;
}

.ltr-effect:after {
position: absolute;
content: "";
width:0;
top:0;
left: 0;
right:0;
bottom: 0;
background:rgb(202, 228, 243);
z-index: -1;
transition: width 0.5s;

 
}

.ltr-effect:hover:after {

     width:100%
}

.tb-effect {
    position: relative;
}

.tb-effect:after {
position: absolute;
content: "";
width:100%;
height:0;
top:0;
left: 0;
right:0;
bottom: 0;
background:rgb(88, 87, 85);
z-index: -1;
transition: height 0.5s;

 
}

.tb-effect:hover:after {

    height:100%
}
/* General Css Style */

*{

    margin: 0;
    padding:0;
    box-sizing: border-box; /* css3 */
}

:root{
    --minecolor :#6195ff;
    --graycolor :  #999;
    --bg-gray: #f9f9f9f9;
    --whitecolor: #fff;


}


.container {

    width: 80%;
    margin: auto;
}

body{
    font-family: 'Varela Round', sans-serif;
}

.clear{

    clear: both;
}

h1 , h2 , h3 , h4 ,h5 , h6 {

    font-family: montserrat, sans-serif;
}

button {

    font-family: inherit;
}

.ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.pd-y{

    padding: 120px 0;
}

.section-header{

    text-align: center;
    margin-bottom: 20px;
}
.section-header .section-title{ 
font-size: 35px;
text-transform:   capitalize;
margin-bottom: 7px;

}
.section-header .line{

    display: block;
    height: 4px ;
    width: 60px;
    margin: 0 auto 70px auto;
    background-color: var(--minecolor);

}



/* 3-Sections Styles */
/* Header Sections */
.header{

    position: fixed;
    width: 100%;
    z-index: 8;
    background: rgba(0,0,0,.4);
}
.header .logo{

    width: 40%;
    float: left;
}

.header .logo img{

    width: 20%;
    margin-top: 15px;
}

.header .nav {

    width: 60%;
    float: left;
    list-style: none;
    text-align: right;
}

.header .nav > li {
    display: inline-block;
    text-align: right;
}

.header .nav > li > a {
color: white; 
font-size: 15px;
text-decoration:none ;
display: block;
padding: 30px  15px;


}

.header .nav > li > a.active:after,
.header .nav  > li > a:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    margin-top: 2px;
    background-color:  #6195ff;
    transition: width 0.5s;
}
.header .nav > li  > a.active:after{
    width: 100%;
}
.header .nav > li  > a:after {
     width: 0; 
}

.header .nav > li > a:hover:after {
    width: 100%;
}

.dropdown {

    position: relative;
}
.dropdown-menu {

    position: absolute;
    background-color:#6195ff;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    left:-50%;
    top:70%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5 , visibility 0.5
}

.dropdown-menu a {
    color: white;
    display: block;
    padding: 10px ;
    text-decoration: none;
    font-size: 13;

}
.dropdown:hover .dropdown-menu {


    opacity: 1;
    visibility: visible;
}
/* Home Section */ 

.home {
    height: 100vh;
    background-image: url(../Images/background/background1.webp);
    background-size: cover;
    position: relative;
}

.home-content {

    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.home .title {
   color : white;
    font-size: 3.1rem;
    text-transform: uppercase;

}

.home .home-desc {

    margin: 20px 0;
    color: white;
    letter-spacing: 2px;
    line-height: 1.5 ;
}

.home .btn {

min-width:160px ;
padding:15px 0 ;
border-radius: 5px;
border: 0;
cursor:pointer ;
font-size: 15 ;

}

.home .btn-start {
margin-right: 10px;
background-color: white;
}

.home .btn-learn {

    background-color: #6195ff;
    color: white;
}

/*About sction*/

.about{
    padding: 120px 0 ;
}

.about-content {

   overflow: hidden; 
}
.about-item{

    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 50px 20px;
}

.about-item:hover .about-item-title{

    color:white;
}
.about-item.mg{

    margin: 0 5%;
}

.about-item .icon{
    color:#6195ff;
    margin-bottom:10px;
}

.about-item-title{

    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 1s; }


.about-item-desc{

    line-height:1.6;
    margin-bottom: 10px;
    color: #999;
}

.about-item-link{

    color:#6195ff;
    
}

/*Portfolio Section*/

.portfolio {
    background: #f9f9f9;
}
.portfolio-content{
    overflow:hidden;
}

.portfolio-item{
    width: 32% ;
    float: left;
    margin-bottom: 25px;
    position: relative;
    padding: 20px;
}

.portfolio-item .layer-content{
    position: absolute;
    top:0;
    left :0;
    width: 100% ;
    height: 100% ;
    background-color: rgba(0,0,0,.4) ;
opacity: 0;
visibility: hidden;
    transition: opacity 0.5s;

}

.portfolio-item:hover .layer-content{
    opacity: 1;
visibility: visible;

}

.layer-content .layer-info {
position: absolute;
left:50%;
top: 50%;
width:80%;
text-align: center;
transform: translate(-50%,-50%);
}

.layer-content-title{
    font-size: 18px;
    color:white;
    margin-bottom: 10px;
    position: relative;
    top:10px;
    visibility: hidden;
    transition:top 0.5s, opacity 0.5s;
    transition-delay: 0.1s;


}
.layer-content .category{

    color:#6195ff;
    text-transform:uppercase;
    margin-bottom: 5px;
    display: block;
  position: relative;
  visibility: hidden;
  top:10px;
  transition:top 0.5s, opacity 0.5s;
  transition-delay: 0.1s;

}

.layer-content a {

    display: inline-block;
    width: 40px;
    height: 40px;
    background-color:#6195ff;
    position: relative;
    top:10px;
   visibility: hidden;
   transition:top 0.5s, opacity 0.5s;
   transition-delay: 0.1s;
}


.layer-content a i{
color:white;
    line-height: 40px;
}

.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content a ,
.portfolio-item:hover .layer-content .category{


    top:0;
    visibility: visible;
}
.portfolio-item.mg {
    margin: 0 2%;
}
.portfolio-item img {
    width: 100%;
}

/* offer sction*/






/*service Section*/
.service{

    background-color: #f9f9f9;
}

.service-item {
    width: 50%;
    float: left;
}

.service-item .section-header {
    text-align: left;
}

.service-item .section-header .line {

    margin: 0 0 40px 0 ;
}

.service-item-desc {
    padding-right: 20px;
    color: #999;
    line-height: 1.6;
    font-size: 17px;
    margin-bottom: 20px;
}

.service-list{
 list-style: none;
color:#999;
}

.service-list li i{
   color:#6195ff;
 
}


.service-item-img img {

    width: 100%;
}

.service-bollets{

    list-style: none;
    text-align:center;
}

.service-bollets li {

    
    width:10px;
    height: 10px;
    display:inline-block;
    background-color: rgb(190, 188, 188);
    margin: 10px 5px;
    border-radius: 50%;
}

.service-bollets li.active {
    background-color: #6195ff;
}
.service-bollets li:hover {

    background-color: #6195ff;
}

/* number sction*/
.numbers {
position: relative;
background-image: url("../Images/background/background2.webp");
height: 300px;
background-size: cover;
background-attachment: fixed;
}

.number-item{

    overflow: hidden;
    padding: 120px 0;

}

.number-item{

    width: 25%;
    float:left;
    text-align: center;
}

.number-item .icon{

    color:#6195ff;
    margin-bottom: 12px;
}

.number-item-title {
font-weight: bold;
font-size: 30px;
color:#e8e8e8;

}

.number-item-text{
    color:#fff;
    text-transform: capitalize;
}

/*pricing-sction*/

.pricing{}

.pricing-plans{
    overflow: hidden;
}
.pricing-item {
    width: 30%;
    float: left ;
    padding: 40px 15px;
    border: 1px solid #e8e8e8;
    text-align: center;

}

.pricing-item.mg {

    margin: 0 5%
}

.pricing-item-text{
text-transform: uppercase;
font-size: 17px;
color:#999;
transition: color 0.6s;

}

.pericing-item-permonth{
    width: 130px;
    height: 130px;
    transition: color 0.9s;
    padding:20px 0;
    margin: 20px auto;
    border: 2px solid #6195ff;
    border-radius: 50%;
}

.pericing-item-permonth .doller {

    font-size: 50px;
}
.pericing-item-permonth .month {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;

}

.pricing-list{

    list-style: none;
}

.pricing-list li {

    color: #999;
    line-height: 1.7;
}

.pricing-item-purchase {

    background: none;
    border:0;
    display: block;
    width:140px;
    border: 2px solid #6195ff;
    padding: 10px;
    margin: 15px auto 0 auto;
    color: #6195ff;
}

.pricing-item:hover .pericing-item-permonth{
    color:#fff;
}

.pricing-item:hover .pricing-item-text{
    color:#6195ff
}
/*testmonail Section*/
.testmonail {
    position: relative;
    background-image: url(../Images/background/background3.webp);
    background-attachment: fixed;
    height: 400px ;
}

.testmonail-content{

    overflow:hidden;
    padding:120px 0 ;
    text-transform: capitalize;
    width:80%;
    margin: auto;
}

.testmonail-item{
    width:50%;
    float:left;
    color:#e8e8e8;
}

.testmonail-item .testmonail-toplayer{

    padding: 10px 2px 40px 100px;
    position: relative;
}

.testmonail-item .testmonail-toplayer img{
    position: absolute;
    left: 10px;
    top:10px;
    border-radius: 50%;
}

.testmonail-item .testmonail-toplayer h2{

    margin: 5px 0 ;
}

.testmonail-item .testmonail-toplayer span {

   color:#6195ff;
}

.testmonail-desc{

    line-height: 1.5;
    font-size:15px;
}

.team-content {
    overflow: hidden;
}

.team-item{

    width: 30%;
    float:left;
    background: #e8e8e8;
    padding: 40px 10px;
    text-align: center;

}

.team-item.mg{
    margin: 0 5%;
}

.team-overlay{

    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    opacity: 0;
    visibility: hidden;

  
}


.team-overlay a {

    display: block;
    width:40px;
    height:40px;
    background: #6195ff;
    color:#fff;
    margin-left: auto; }
    

.team-overlay a i{
    line-height:40px;

    
}
.team-item .team-img{

    width: 90%;
    margin: auto;
    position: relative;
}
.team-item .team-img img {
    width: 100%;
}

.team-item .team-info-title{

    color: black;
    margin: 10px 0;
    transition: color 0.7s;
}



.team-item .team-info-text{

    color:#999;
    text-transform: uppercase;
    font-size:14px;
    transition: color 0.7s;
}


.team-item:hover .team-overlay {

    visibility: visible;
    opacity: 1;
}

.team-item.tb-effect{
    z-index: 1;
}
.team-item:hover .team-info-title{
    color:#fff;
}

.team-item:hover .team-info-text{
    color:rgb(17, 14, 6);
}

/*Blog Page*/

.blog{

    background: #f8f8f8;
}
.blog-content{

overflow:hidden;
}

.blog-item {
    width:30%;
    float:left;
    background: white;
}
.blog-item-img img {

    width:100%;
}

.blog-list{
    list-style: none;
    margin: 10px 0;
}

.blog-info{
    padding:20px;
}

.blog-list li {

    display:inline-block;
    margin: 0 5px;
}
.blog-list li i{
    color:#6195ff;
}

.blog-title{
    font-weight: bold;
    margin: 20px 0;
    text-transform: capitalize;
    font-size: 18px;

}
.blog-desc{
    color:#999;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 14px;
}

.blog-link{

    color: #6195ff;
}
.blog-item.mg{
    margin: 0 5%;
}


/*contact Section*/

.Get-items{
    overflow: hidden;

}

.get-item {
    width: 30%;
    float:left;
    text-align: center;
}

.get-item .icon{
    color: #6195ff;
    margin-bottom: 15px;

}

.get-item .get-item-title{
    font-weight: bold;
    font-size:27px;
    color:black;
    margin: 10px;
}

.get-item .get-item-num {
  color: #999;
}



/*footer-section*/

.footer{
    background: rgb(32, 31, 31);
    text-align: center;
    padding: 60px 0;
}

.footer-links{

    list-style: none;
    margin: 20px 0;
}

.footer-links li{
    display: inline-block;
}

.footer-links li a {
    display:block;
    width:40px;
    height:40px;
    background: #6195ff;
    color: #fff;
    margin: 0 5px;
    border-radius: 50%;
}

.footer-links li a i{

    line-height: 40px;
}

.footer .copyright {

    color:#999;
    font-size: 15px;
    text-transform: uppercase

}

.bg-gray{

    background: #f9f9f9f9;
}

